@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", system-ui;
}

/* Design de l'app */
html,
body {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.app_questionNumber {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
  width: 50px;
  height: 50px;
  background-color: #0056b3;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app_quiz {
  background: #f7f7f7;
  position: relative;
  padding: 20px 0;
  transform: translateX(100%);
}
.app_quiz_question {
  height: 200px;
  font-size: 35px;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
}

/* Animation de la question qui apparait et disparait */
@keyframes slideIn {
  to {
    transform: translateX(0%);
  }
}
@keyframes slideOut {
  to {
    transform: translateX(-100%);
  }
}
.app_quiz.exiting {
  animation: slideOut 0.5s forwards;
}

.app_quiz.starting {
  animation: slideIn 0.5s forwards;
}

/* Design du conteneur de remplissage */
.app_quiz > span {
  display: block;
  height: 10px;
  background: #e0e0e0;
  overflow: hidden;
  margin: 10px 0;
  position: relative;
}

/* Remplissage qui change de couleur avec le temps */
.app_quiz > span > span {
  display: block;
  height: 100%;
  width: 100%;
}

.progress.timing {
  animation: fillProgress 10s linear forwards;
}

@keyframes fillProgress {
  0% {
    background: green;
    width: 100%;
  }
  65% {
    background: yellow;
  }
  89% {
    background: red;
  }
  100% {
    width: 0%;
    background: red;
  }
}
/* Style de la liste des réponses */
ul {
  width: 400px;
  margin: auto;
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

ul li span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #ddd;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  font-family: "Arial", sans-serif;
}

ul li p {
  margin: 0;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  flex-grow: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.active {
  border: 3px solid #007bff;
}

.error {
  border: 3px solid red;
}

.done {
  border: 3px solid green;
}

/* Bouton valider */
button {
  display: block;
  padding: 10px;
  background: #007bff;
  width: 400px;
  margin: auto;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.nextButton {
  display: none;
}

button:hover {
  background: #0056b3;
}

/* Style de l'overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: opacity 0.3s, visibility 0.3s;
}

/* Style de la modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  z-index: 11;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: opacity 0.3s, visibility 0.3s;
}
.modal span {
  font-weight: bold;
}

/* Affichage de l'overlay et la modal */
.modal p {
  margin: 20px 0;
}

.modal button {
  width: auto;
  margin: 5px auto;
  background: #28a745;
}

.modal button:hover {
  background: #218838;
}

@media all and (max-width: 767px) {
  .app {
    width: 100%;
    margin: 0;
    min-height: 100vh;
  }
  .app_quiz {
    height: 100%;
  }
  .app_quiz_question {
    height: 45%;
    font-size: 30px;
    padding: 5%;
  }
  .app_quiz_options {
    height: calc(50% - 60px);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .app button {
    width: 90%;
    margin-top: 5px;
  }
  .modal {
    width: 80%;
    height: 400px;
  }
}/*# sourceMappingURL=style.css.map */